<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About US</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<center>
   <a href="/posts/" class="gradient-button">Home</a>
    <a href="/about_us/" class="gradient-button">About Us</a>
    <a href="" class="gradient-button">Contacts</a>
    <a href="" class="gradient-button">Comment</a>

    {%for i in about%}
    <div class="card">
  <img src="{{i.image.url}}" alt="Avatar" style="width:50%">
  <div class="container">

    <p>{{i.description}}</p>
  </div>
</div>
    {%endfor%}
</center>
</body>
</html>